[buildout]
index = http://packages.lizardsystem.nl
extends =
    http://packages.lizardsystem.nl/kgs/3.1.26/versions.cfg
find-links =
    https://downloads.sourceforge.net/project/matplotlib/matplotlib/matplotlib-1.2.0/matplotlib-1.2.0.tar.gz
    https://downloads.sourceforge.net/project/matplotlib/matplotlib/matplotlib-1.3.0/matplotlib-1.3.0.tar.gz
    http://netcdf4-python.googlecode.com/files/netCDF4-1.0.4.tar.gz
unzip = true
prefer-final = true
socket-timeout = 1
show-picked-versions = true
extensions =
    mr.developer
parts =
    sysegg
    mkdir
    test
    omelette
    console_scripts
    sphinx
    pydev
#    supervisor
develop = .
eggs =
    threedi-wms
auto-checkout =


[versions]
# Specific pins
blinker = 1.3
threedi-wms =
zc.buildout = 2.2.0
zc.recipe.egg = 2.0.1
gislib = 0.4
scipy =
raven = 3.1.16
werkzeug =

# Reported by buildout.
Flask = 0.9
SQLAlchemy = 0.8.0
pbp.recipe.noserunner = 0.2.6
netCDF4 = 1.0.4

matplotlib = 1.2.0
setuptools = 2.2
syseggrecipe = 1.0.1
mmi = 0.1.4
numpy = 1.8.0
pyzmq = 14.0.1


[sources]
# Examples:
gislib = git git@github.com:nens/gislib.git
python-mmi = git git@github.com:SiggyF/python-mmi.git

# lizard-ui = git git@github.com:lizardsystem/nensskel.git
# lizard-ui = svn https://office.nelen-schuurmans.nl/svn/Products/djangoapps/lizard-ui/trunk


[sysegg]
# Add eggs here that are best handled through OS-level packages.
recipe = syseggrecipe
force-sysegg = true
eggs =
    matplotlib
    scipy


[mkdir]
recipe = z3c.recipe.mkdir
paths =
    ${buildout:directory}/var/cache
    ${buildout:directory}/var/celery
    ${buildout:directory}/var/data/3di
    ${buildout:directory}/var/log


[test]
recipe = pbp.recipe.noserunner
eggs =
    threedi-wms
    threedi-wms[test]
    gislib
defaults = 
#    threedi_wms


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    createcoverage
    pep8
    pyflakes
    zest.releaser
    celery
    gunicorn
    gislib


[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
eggs = ${buildout:eggs}


[pydev]
recipe = pb.recipes.pydev
eggs = ${buildout:eggs}
pydevproject_path = ${buildout:directory}/.pydevproject
extra_paths =


# [supervisor]
# # Note: this one is duplicated in the buildout of the threedi-server.
# # So don't use it :-)
# recipe = collective.recipe.supervisor
# programs =
#     10 celery ${buildout:bin-directory}/celery [worker --app=server.tasks:app]
#     20 gunicorn ${buildout:bin-directory}/gunicorn [server.app:app -w 4 -b 0.0.0.0:5000]
