{% extends "base.html" %}
{% block css %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='jquery/jquery-ui-1.10.0.custom.min.css') }}" />
  <link rel="stylesheet"
        href="{{ url_for('3di.static', filename='3di/demo.css') }}" />
{% endblock %}
{% block content %}
  <div class="row">
    <div class="span8">
      <div id="map"></div>
    </div>
    <div class="span4">
      <fieldset>
        <label>Layer:</label>
        <select id="layer">
          {% for layer in layers %}
          <option value="{{layer}}">
            {{ layer }}
          </option>
          {% endfor %}
        </select>
        <label>Timestep: <span id="time">0</span></label>
        <div id="slider"></div><br />
        <label>Toggle layers:</label>
        <div><label class="checkbox" for="grid">Grid</label><input type="checkbox" id="grid" /></div>
        <div><label class="checkbox" for="depth">Depth</label><input type="checkbox" id="depth" checked /></div>
        <div><label class="checkbox" for="velocity">Velocity</label><input type="checkbox" id="velocity" /></div>
        <div><label class="checkbox" for="quad_grid">Quads</label><input type="checkbox" id="quad_grid" /></div>
        <div><label class="checkbox" for="flood">Flood</label><input type="checkbox" id="flood"/></div>
        <div><label class="checkbox" for="bathymetry">Bathymetry</label><input type="checkbox" id="bathymetry" /></div>
        <div><label class="checkbox" for="osm">OpenStreetMap</label><input type="checkbox" id="osm" checked/></div>
        <label>Toggle options:</label>
        <div>
          <label class="checkbox" for="interpolate">Interpolate</label>
          <select id="interpolate">
            <option value="nearest">nearest</option>
            <option value="linear">linear</option>
          </select>
        </div>
        <div><label class="checkbox" for="antialias">Antialias</label><input type="checkbox" id="antialias" /></div>
        <div><label class="checkbox" for="messages">Messages</label><input type="checkbox" id="messages" /></div>
        <div><label class="checkbox" for="waves">Waves</label><input type="checkbox" id="waves" /></div>
      </fieldset>
      <button id="update">update</button>
    </div>
  </div>
{% endblock %}
{% block javascript %}
  <script src="{{ url_for('static', filename='jquery/jquery-1.9.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery/jquery-ui-1.10.0.custom.min.js') }}"></script>
  <script src="{{ url_for('static', filename='openlayers/OpenLayers.js') }}"></script>
  <script src="{{ url_for('3di.static', filename='3di/demo.js') }}"></script>
{% endblock %}
